<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Projects{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/build/main.css" rel="stylesheet">
</head>
<body>
  <div class="h6 p1 bg-black white center caps">Work in Progress</div>
  <div class="container px2 py3">
    <div class="mb4">
      <a href="/" class="h1 p0 btn">
        <img src="/static/img/logo.png" class="align-middle" width="75">
        <span class="bold gray">/projects</span>
      </a>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
