{% extends 'projects/base.html' %}


{% block content %}
<h2>Sample data</h2>
<div class="flex flex-wrap mxn2">
{% for i in '123456789123' %}
  <div class="col-12 sm-col-6 md-col-4 border-box p2">
    <div class="p2 bg-white border rounded">
      <div class="mb1 h5 bold caps">cloud.gov</div>
      <div class="mb1">
        Develop, run, and manage web applications without the complexity and cost of maintaining infrastructure.
      </div>
      <div>
        <a href="#!"><i class="icon ion-help-circled"></i></a> · 
        <a target="_blank" href="#!"><i class="icon ion-social-github"></i></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
